<!DOCTYPE html>
<html lang="en">
<head>

<title>Hello Firends!</title>
</head>

<body style="background-color:powderblue;">

<style>
    .center {
    text-align: center;
    }
</style>
</head>

<div class="center">
    <h1 style="">Steele Douglas</h1>
    <h2 style="">Winner of Worlds Best Hair award 2020</h2>
    <p>My favourite hobbies are video games and sports</p>
    <p>I am sixteen year old highschool student</p>
    <p>My idol is DaBaby</p>
</div>

<style>
    img
    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
</style>

    <img src="https://i.redd.it/yhihjnuvvxe61.jpg" alt="Picture of DaBaby" width="500" height="350">

</body>
</html>