<!DOCTYPE html>
<html lang="en">
<title>CCT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2 {font-family: "Arial", sans-serif}
.w3-bar,h1,button {font-family: "Arai", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-grey w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/lesson1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Me</a>
  </div>

  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/lesson1" class="w3-bar-item w3-button w3-padding-large">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-padding-large">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-padding-large">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-padding-large">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-padding-large">About Me</a>

  </div>
</div>

<body style="background-color:powderblue;">

<style>
    .center {
    text-align: center;
    }
    
</style>

<div class="center">
  <br><br><br><h1 style="font-size:300%;">Steele Douglas</h1>
  <h2 style="font-size:200%;">Winner of Worlds Best Hair award 2020</h2>
  <p style="font-size:150%;">My favourite hobbies are video games and soccer.</p>
  <p style="font-size:150%;">I am a sixteen year old highschool student.</p>
  <p style="font-size:150%;">My idol is <a href="https://www.youtube.com/c/BabyJesus704/videos">DaBaby.</a></p>
</div>

<style>
    img
    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
</style>

    <img src="https://i.kym-cdn.com/entries/icons/facebook/000/036/822/cover4.jpg" alt="Picture of Obama" width="500" height="500">

<div class="center">
    <p style="font-size:48px">
    &#128514; &#127831; &#128009; &#128034; &#128512;
    </p>
</div>

  <script>
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>
  
  </body>
</body>
</html>