<!DOCTYPE html>
<html lang="en">
<title>CCT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2 {font-family: "Arial", sans-serif}
.w3-bar,h1,button {font-family: "Arai", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-grey w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/lesson1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Me</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/lesson1" class="w3-bar-item w3-button w3-padding-large">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-padding-large">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-padding-large">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-padding-large">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-padding-large">About Me</a>

  </div>
</div>
  
<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
<br><br><h1 class="w3-margin w3-white">Arrays</h1>
    <p>Here are a few example from each lesson</p>
</header>
  
<br><h3 class="w3-center">Functions</h3> 
<script src="https://gist.github.com/SteeleDouglas/0b766f3cb5d32e9cd0827f0c783e5697.js"></script>

<br><h3 class="w3-center">Arrays</h3>   
<script src="https://gist.github.com/SteeleDouglas/a9e1c1f6ecc8d39a8d8f90786052123d.js"></script>
  
<br><h3 class="w3-center">Command-Line Interaction</h3> 
<script src="https://gist.github.com/SteeleDouglas/f883662a4c47719be9075204c5bd2fe8.js"></script>
  
<br><h3 class="w3-center">Exit Codes</h3> 
<script src="https://gist.github.com/SteeleDouglas/6d0935f8715f5cf03e66922c2d61dc23.js"></script>
  
<br><h3 class="w3-center">Typecasting</h3>   
<script src="https://gist.github.com/SteeleDouglas/40f409ddbbdecbe6e0014d87627f2c32.js"></script>
   
<br><h3 class="w3-center">Bugs and Debugging</h3>   
<script src="https://gist.github.com/SteeleDouglas/1c6779086aec2b094536a44b6c16aef8.js"></script>
  
</body>
</html>