<!DOCTYPE html>
<html lang="en">
<title>CCT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2 {font-family: "Arial", sans-serif}
.w3-bar,h1,button {font-family: "Arai", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-grey w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/lesson1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Me</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/lesson1" class="w3-bar-item w3-button w3-padding-large">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-padding-large">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-padding-large">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-padding-large">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-padding-large">About Me</a>

  </div>
</div>
  
<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
  <br><br><h1 class="w3-margin w3-white">C</h1>
  <p>Here are a few example from each lesson</p>
</header>
  
<br><h3 class="w3-center">Syntax</h3> 
<script src="https://gist.github.com/SteeleDouglas/33c1ce34fd3bbbe12d36d0dd95f6c115.js"></script>

<br><h3 class="w3-center">Variables</h3> 
<script src="https://gist.github.com/SteeleDouglas/0ba01b037e78595581fafd9952ff190e.js"></script>
  
<br><h3 class="w3-center">Data Types</h3> 
<script src="https://gist.github.com/SteeleDouglas/0a9efef04eab09d7aea6b69570ab4d4b.js"></script>
  
<br><h3 class="w3-center">Printf Placeholders</h3> 
<script src="https://gist.github.com/SteeleDouglas/34c5cbddd109d3a17d1ee26a2eb619ad.js"></script>
  
<br><h3 class="w3-center">Operators</h3> 
<script src="https://gist.github.com/SteeleDouglas/28c482c4e280fa64249a13029867f700.js"></script>
  
<br><h3 class="w3-center">Boolean Expressions and Conditionals</h3> 
<script src="https://gist.github.com/SteeleDouglas/e9a624d4e93827c08bf46c78c9b3d8cf.js"></script>
  
<br><h3 class="w3-center">While Loop</h3> 
<script src="https://gist.github.com/SteeleDouglas/639da01a881633359b63d46be176362c.js"></script> 
  
<br><h3 class="w3-center">Do-While Loop</h3> 
<script src="https://gist.github.com/SteeleDouglas/39d323c8fbd3a5cf0b906211ee297ce9.js"></script>

<br><h3 class="w3-center">For Loop</h3> 
<script src="https://gist.github.com/SteeleDouglas/9ceabf9032aa18ee10c0ab1593c46033.js"></script>
  
<br><h3 class="w3-center">Magic Numbers</h3> 
<script src="https://gist.github.com/SteeleDouglas/89026c85707f779505f7f40af6d23767.js"></script>
  
</body>
</html>