<!DOCTYPE html>
<html lang="en">
<title>CCT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2 {font-family: "Arial", sans-serif}
.w3-bar,h1,button {font-family: "Arai", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-grey w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/lesson1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Me</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/lesson1" class="w3-bar-item w3-button w3-padding-large">Lesson 1</a>
    <a href="/lesson2" class="w3-bar-item w3-button w3-padding-large">Lesson 2</a>
    <a href="/lesson3" class="w3-bar-item w3-button w3-padding-large">Lesson 3</a>
    <a href="/projects" class="w3-bar-item w3-button w3-padding-large">Projects</a>
    <a href="/aboutme" class="w3-bar-item w3-button w3-padding-large">About Me</a>

  </div>
</div>
  
  <header class="w3-container w3-blue w3-center" style="padding:50px 16px">
  <br><br><h1 class="w3-margin w3-white">C and Python</h1>
      <p>Here are a few example from each lesson</p>
</header>

<br><h3 class="w3-center">Mario (Python)</h3> 
<script src="https://gist.github.com/SteeleDouglas/deb724fc4518bc545e7982ece25caa0b.js"></script>
  
<br><h3 class="w3-center">Hello (Python)</h3> 
<script src="https://gist.github.com/SteeleDouglas/40263f54eb1575add1db838d3c1c0bba.js"></script>  
  
<br><h3 class="w3-center">Mario (C)</h3>   
<script src="https://gist.github.com/SteeleDouglas/81e2ef6196eb63a530a3c9f99f75f929.js"></script>
  
<br><h3 class="w3-center">Caesar (C)</h3>   
<script src="https://gist.github.com/SteeleDouglas/140a20086543a8ff95175313e9b73323.js"></script>
  
</body>
</html>